
#RecipeCard{
    background-color: white;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}
.R-image{
width: 200px;
}
.eachcard{
    margin-left: 35px;
    margin-bottom: 10px;
    line-height: 2;
}

.eachcard>div{
    display: flex;
    justify-content: space-between;
}
.eachcard>div>button{
    background-color: orange;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 5px;
}