
#RecipeCard{
    background-color: white;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}
.R-image{
width: 200px;
}
.eachcard{
    margin-left: 35px;
    margin-bottom: 10px;
}
.eachcard>a>button{
    color: orange;
}
