
#RecipeCard{
    background-color: white;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}
.R-image{
width: 200px;
}
.eachcard{
    margin-left: 35px;
    margin-bottom: 10px;
}
.eachcard>a>button{
    color: orange;
}
.detailcard{
    position: fixed;
    top: 0px;
    right: 78px;
    background-color: rgba(255, 255, 255);

}
.detailcard{
    width: 1440px;
    height: 900px;
    display: flex;
    align-content: center;
    justify-content: center     ;
}            
#deteil-left>img{
    height: 200px;
}